.trigger {
    cursor: pointer;
    font-size: 2em;
}

.trigger h3 {
    font-size: 1.2em;
}

.pressed {
    opacity: 0.5;
    cursor: default;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.pin-card {
    flex: 1;
    -webkit-flex: 1;
    max-width: 12em;
    font-size:3em;
}

.pin-card input {
    font-size:3em;
}

.pin-button-container {
    display: flex;
    -webkit-display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.pin-button {
    width: 62%;
    height: 2em;
}

.text-center {
    text-align: center;
}
