.blue {
    background-color: #0099CC;
}

.blue_pressed {
    background-color: #33B5E5;
}

.purple {
    background-color: #9933CC;
}

.purple_pressed {
    background-color: #AA66CC;
}

.green {
    background-color: #669900;
}

.green_pressed {
    background-color: #99CC00;
}

.orange {
    background-color: #FF8800;
}

.orange_pressed {
    background-color: #FFBB33;
}

.red {
    background-color: #CC0000;
}

.red_pressed {
    background-color: #FF4444;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.pin-card {
    flex: 1;
    -webkit-flex: 1;
    max-width: 12em;
    font-size:3em;    
}

.pin-card input {
    font-size:3em;    
}

.pin-button-container {
    display: flex;
    -webkit-display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.pin-button {
    width: 62%;
    height: 2em;
}