<md-grid-list
      md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
      md-row-height-gt-md="1:1" md-row-height="4:3"
      md-gutter="8px" md-gutter-gt-sm="4px" >
  <md-grid-tile ng-repeat="trigger in controller.triggers"
                md-rowspan="1"
                md-colspan="1"
                ng-class="nextColor"
                ng-click="controller.triggerTheTrigger(trigger)"
                style="cursor: pointer;" >
      <md-grid-tile-footer><h3>{{trigger.name}}</h3></md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
