<md-content layout="row" ng-if="controller.notClaimed || controller.noFlows" layout-align="center">
  <div flex="100" flex-gt-md="50" flex-gt-lg="25" layout="column" class="text-center">
    <div>
      <img ng-src="/assets/robots/robot{{controller.randomRobotId}}.png" layout-fill width="50%">
    </div>

    <div ng-if="controller.notClaimed">
      <h2 layout-margin>
        Blu has created a new device, go to the Octoblu Add Node Page to claim it.
      </h2>

      <h1>
        <md-button href="https://app.octoblu.com/node-wizard/add-device/53c9b832f400e177dca325b3" class="md-raised md-primary" aria-label="Claim Device">
          Claim Device
        </md-button>
      </h1>
    </div>

    <div ng-if="controller.noFlows">
      <h2 layout-margin>
        You currently have no flows with triggers or haven't given permission for the blu-web-app to access your flows. To do so, visit the Octoblu Admin Page.
      </h2>

      <h1>
        <md-button href="https://app.octoblu.com/admin/groups" class="md-raised md-primary" aria-label="Add Flows">
          Add Flows
        </md-button>
      </h1>
    </div>
  </div>
</md-content>

<md-grid-list
      md-cols-sm="1" md-cols-md="4" md-cols-gt-md="4" md-cols-gt-lg="8"
      md-row-height-gt-md="1:1" md-row-height="4:3"
      md-gutter="8px" md-gutter-gt-sm="4px" layout-margin>
  <md-grid-tile ng-repeat="trigger in controller.triggers"
                md-rowspan="{{trigger.span}}"
                md-colspan="{{trigger.span}}"
                class="trigger"
                ng-class="{ pressed: trigger.triggering}"
                ng-click="controller.triggerTheTrigger(trigger)"
                ng-style="{'background-color': trigger.color}" >
      <i class="fa fa-spin fa-gear" ng-show="trigger.triggering"></i>
      <md-grid-tile-footer><h3>{{trigger.name}}</h3></md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
